a {
  color: #444 !important;
}

/* .secondary-navigation.nav .nav-item {
  padding-bottom: 0.715em;
  line-height: 2.081em;
  display: inline-block;
}
.secondary-navigation.nav .nav-item + .nav-item a::before {
  content: "|";
  font-size: 12px;
  color: #cad5d5;
  display: inline-block;
  margin: 0 1.457em;
} */

.media {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
