/* a {
  color: #444 !important;
} */

/* .secondary-navigation.nav .nav-item {
  padding-bottom: 0.715em;
  line-height: 2.081em;
  display: inline-block;
}
.secondary-navigation.nav .nav-item + .nav-item a::before {
  content: "|";
  font-size: 12px;
  color: #cad5d5;
  display: inline-block;
  margin: 0 1.457em;
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.media {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.custom-slick-nav {
  display: flex;
  gap: 5px;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}

.embla__dots {
  padding: 0.625em 0 0.938em 0;
  position: relative;
  bottom: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  width: 100%;
  z-index: 2;
}
.embla__dot {
  position: relative;
  display: inline-block;
  margin: 0 7px;
  cursor: pointer;
}
.embla__dot__button {
  background: transparent;
  display: block;
  outline: none;
  font-size: 0px;
  color: transparent;
  cursor: pointer;
  outline: none;
}

.embla__dot__button::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #d3d3d3;
}

.embla__dot__selected .embla__dot__button::before {
  background-color: #0063d1;
  width: 30px;
  height: 8px;
  border-radius: 4px;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

#content #primary-shop {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1700px) {
  #content #primary-shop {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    order: 2;
  }
}
@media (min-width: 1200px) {
  #content #primary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  #content #primary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  #content #primary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  #content #primary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}

#content #secondary-shop {
  z-index: 10;
  order: 1;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1700px) {
  #content #secondary-shop {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  #content #secondary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  #content #secondary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  #content #secondary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  #content #secondary-shop {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 550px) {
  #main-shop .products {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 550px) {
  @media (min-width: 576px) {
    #main-shop .products {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}
@media (min-width: 550px) {
  @media (min-width: 768px) {
    #main-shop .products {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

@media (min-width: 550px) {
  @media (min-width: 992px) {
    #main-shop .products {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}
@media (min-width: 550px) {
  @media (min-width: 1200px) {
    #main-shop .products {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

/* @media (min-width: 1200px) {
  #main-shop .products .product {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
} */

@media (min-width: 1200px) {
  #main-shop .columns-4 .products .product {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
