.embla {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.embla__container {
  display: flex;
  user-select: none;
}

.embla__slide {
  min-width: 100%; /* Mỗi trang chiếm toàn bộ chiều rộng */
  padding: 20px;
  box-sizing: border-box;
}