.address_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  margin: auto;
}
.address_modal {
  background: #fff;
  position: fixed;
  z-index: 13;
  max-width: 476px;
  max-height: 80vh;
  align-items: center;
  margin: auto;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  background-color: #fff;
  top: 55%;
}
.address_location {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 20px;
  display: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.address_location > a:first-child {
  position: absolute;
  right: 30px;
  top: 10px;
}
.address_location > b {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  display: block;
  border-bottom: 1px solid #d0d5dd;
  padding-bottom: 15px;
}
.address_location > ul > li {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #1d2939;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}
.address_location > ul > li > a {
  color: #475467;
  font-size: 10px;
  font-weight: 500;
  opacity: 0.7;
  margin-right: 10px;
  pointer-events: none;
  background-color: transparent !important;
  border: 0 !important;
}
.address_location > a.btn-add {
  border: 1px dashed #2a83e9;
  background: #f1f8fe;
  height: 40px;
  border-radius: 8px;
  display: block;
  line-height: 40px;
  font-size: 12px;
  padding: 0 20px 0 35px;
  position: relative;
}
.address_location > span.check {
  background-color: #222;
  border-radius: 4px;
  color: #fff;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  position: absolute;
  left: 20px;
  bottom: 80px;
  width: calc(100% - 40px);
  display: none;
  box-sizing: border-box;
}
.address_location > a.btn-confirm {
  display: block;
  height: 40px;
  border-radius: 8px;
  background: #2a83e9;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
}
.address_location > div.la-delete {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
}
.address_location > div.la-delete > div {
  width: 320px;
  position: absolute;
  height: max-content;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 12px;
  right: 0;
  padding: 15px;
  text-align: center;
}
.address_location > div.la-delete > div > b {
  font-size: 18px;
}
.address_location > div.la-delete > div > * {
  display: block;
  margin-bottom: 10px;
}
.address_location > div.la-delete > div > a {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
  float: left;
  border: 1px solid #d0d5dd;
  color: #344054;
  height: 42px;
  line-height: 42px;
  border-radius: 8px;
  font-weight: bold;
}
.address_location > div.la-delete > div > a:last-child {
  float: right;
  border-color: #d92d20;
  background: #d92d20;
  color: #fff;
}
.address_modal .address_item {
  background-color: #fff;
  padding: 10px 15px 0 15px;
}
.address_modal .address_item {
  background-color: #fff;
  padding: 10px 15px 0 15px;
  background: #2f80ed;
  white-space: normal;
  box-sizing: border-box;
  border: 0;
}

.address_item.address_item__right {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding: 17px 10px;
  position: relative;
  text-align: center;
  color: #333;
}
.address_item {
  display: inline-block;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 45px);
}
.address_modal .top-location {
  display: block;
  text-align: left;
  background-color: #fff;
  position: relative;
}
.top-location {
  background: #2f80ed;
  padding: 0 0 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.address_modal .top-location > p {
  color: #98a2b3;
  max-width: 100%;
  font-size: 14px;
}
.address_modal .top-location p {
  font-size: 13px;
  text-align: left;
}
.address_item.address_item__right p {
  text-align: center;
  font-weight: bold;
}
.address_modal p {
  font-weight: normal !important;
  max-width: 380px;
  color: #fff;
}

.address_item span {
  text-transform: none;
}
.top_location > p > span.fulladdress {
  color: #344054;
}
.top_location > p > a {
  text-decoration: underline;
}
.hide {
  display: none !important;
}
.address_item.address_item.address_item__right a.cls_location {
  position: absolute;
  left: initial;
  right: 0;
  background-color: #fff;
  border: 0;
  color: #98a2b3;
  padding: 0;
  width: 20px;
  height: 20px;
  top: 0;
  line-height: 1.3;
}
.top_location .cls_back {
  display: none;
}

.location-search {
  position: relative;
  margin-top: 0;
}
.icon_search {
  background-position: -150px 0;
  height: 17px;
  width: 17px;
  position: absolute;
  left: 7px;
  top: 9px;
}

.location_search input {
  width: 100%;
  padding: 8px 28px 8px 28px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
}
.clear_searchbox {
  right: 8px;
  top: 27%;
  position: absolute;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
  display: none;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
}
.clear_searchbox span.box_relative {
  position: relative;
}
.close_symbol {
  background-color: #98a2b3;
  top: 0;
  height: 16px;
  left: 0;
  width: 1px;
  transform: rotate(-45deg);
  position: absolute;
}
.choose_province {
  height: 1px;
  background-color: #eaecf0;
  margin: 20px 15px;
  position: relative;
}
strong.choose_province {
  display: block;
  margin: 5px auto;
  color: #000;
  text-align: center;
  font-size: 14px;
}
.listing_location {
  padding: 10px;
  max-height: 40vh;
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 0;
}

#suggest-location {
  height: 40vh;
  overflow: hidden;
  display: none;
}
.listing_location .lst_tab {
  display: flex;
  border-bottom: 1px solid #eaecf0;
  margin-bottom: 15px;
}
#lst_address {
  height: 40vh;
}
#lst_address > input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
}
#lst_address > span {
  color: #98a2b3;
  display: block;
}
#lst_address > label {
  color: #dd2f2c;
  display: none;
}
.location_confirm {
  padding: 10px 0;
  margin: 0 15px;
  border-top: 1px solid #d0d5dd;
}
.location_none {
  margin: 0 15px 15px 15px;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}
